.container {
    border: 1px solid rgb(168, 161, 172);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
}

.containerEdit {
    box-shadow: 2px 2px 12px rgb(165, 121, 204);
}

.form {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

hr {
    margin: 35px 0;
}

.input {
    width: 370px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 21px;
}

.button {
    padding: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.message {
    color: rgb(184, 77, 238);
    text-align: center;
}