.container {
    border: 1px solid rgb(168, 161, 172);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
}

.button {
    padding: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.taskContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    font-size: 20px;
    color: rgb(38, 35, 39);
    cursor: pointer;
}

.taskDone {
    text-decoration: line-through;
}

.realCheckbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.customCheckbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(168, 161, 172);
    border-radius: 5px;
    vertical-align: sub;
    margin-right: 15px;
}

.customCheckbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: rgb(133, 74, 182);
    border-radius: 3px;
    transition: 0.2s ease-in;
    opacity: 0;
}

.realCheckbox:checked+.customCheckbox::before {
    opacity: 1;
}