html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(133, 74, 182), rgb(247, 239, 253));
    font-family: 'Roboto', sans-serif;
}